﻿﻿@model Enterprise.Modelos.Newsletter

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="desenvolvimento de jogos e realidade virtual">
    <meta name="Keywords" content="realidade virtual, criamos jogos, desenvolvemos jogos">
    <meta name="author" content="cet 30">

    <title>Global Games | @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
</head>

<body>

    <header>
        <div class="container">
            <div id="logo">
                <h1><span class="destaque">Global</span> Games Enterprise</h1>
            </div>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
                    <li>@Html.ActionLink("Serviços", "Servicos", "Home")</li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h1>A melhor plataforma de realidade virtual</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet odio ut augue accumsan, quis maximus magna sollicitudin. Fusce ut maximus magna, ut accumsan quam.
            </p>
        </div>
    </section>

    <section id="newsletter">
        <div class="container">
            <h1>Subscreva a nossa newsletter</h1>
            @using (Html.BeginForm("News", "Newsletters", FormMethod.Post))
            {
                <div >
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "email", placeholder = "Email" } })
                    <button type="submit" class="button_1">Subscrever</button>   
                </div>
            }
        </div>
    </section>

    @RenderBody()

    <footer>
        <p>Global Games, Todos os direitos reservados &copy; @DateTime.Now.Year</p>
    </footer>

</body>
</html>
