﻿@{
    ViewBag.Title = "Welcome";
}

<section id="boxes">
    <div class="container">
        <div class="box">
            <img src="~/Content/Imagens/logo_html.png" alt="logo 1">
            <h3>Jogos html 5</h3>
            <p>Com o html desenvolvemos jogos e aplicativos 2D, 3D, VR e AR</p>
        </div>
        <div class="box">
            <img src="~/Content/Imagens/logo_css.png" alt="logo 2">
            <h3>Jogos css</h3>
            <p>Desenvolvemos aplicativos corporativos, experiências cinematográficas e jogos</p>
        </div>
        <div class="box">
            <img src="~/Content/Imagens/logo_brush.png" alt="logo 3">
            <h3>Personagens</h3>
            <p>Fazemos as melhores personagens para videojogos de ultima geração</p>
        </div>
    </div>
</section>
